.footer
  padding: 38px 0 49px 0

.footer__contacts
  padding-left: 36px
.socials_list
  list-style-type: none
  margin-bottom: 22px
  padding: 0
  li
    display: inline-block
    margin-right: 15px
    &:nth-child(2)
      a
        background-position-x: -38px
    &:nth-child(3)
      a
        background-position-x: -78px
    &:nth-child(4)
      a
        background-position-x: -118px
        width: 15px
    &:nth-child(5)
      a
        background-position-x: -153px
  a
    display: inherit
    height: 20px
    width: 20px
    background-image: url(/img/socials.png)
    background-repeat: none

.footer_fhone
  a
    text-decoration: none
    font-family: vida33Pro,serif
    font-size: 24px
    color: #565f66

.footer__adress
  font-family: vida31Pro
  font-size: 14px
  color: #424242

.footer__mail
  a
    text-decoration: none
    font-family: vida31Pro, serif
    font-size: 14px
    color: #893b67
    transition: color .25s ease
    &:hover, &:focus
      text-decoration: none
      color: darken(#893b67, 20%)

.footer_nav
  padding-left: 45px

.footer__nav_list
  list-style-type: none
  margin: 0
  padding: 0

.footer__nav_list

.footer__nav_item
  display: inline-block
  margin-right: 125px
  max-width: 115px
  &:last-child
    margin: 0
  .fas
    display: none

.nav_section__title
  font-family: vida33Pro
  font-size: 14px
  color: #000
  &:active, &:hover, &:focus
    color: #000
    text-decoration: none
    border: none
    outline: none
  span
    display: none
    height: 10px
    width: 17px
    background-image: url(/img/footer-arrow_down.png)
    background-repeat: no-repeat
    background-position-y: center

.nav_section
  list-style-type: none
  margin: 0
  padding: 0
  .section_item
    width: 100%
    a
      text-decoration: none
      font-family: vida31Pro, serif
      font-size: 14px
      color: #893b67
      transition: color .25s ease
      &:hover, &:focus
        color: darken(#893b67, 20%)
        outline: none
      