//====Top line====//
.top-line_position
  margin-top: 25px
  margin-bottom: 17px

.nav-menu
  &_position
    margin: 10px -10px
  ul
    list-style-type: none
    margin: 0
    padding: 0
  li
    display: inline-block
    margin-right: 18px
  a
    text-decoration: none
    font-family: vida31Pro, serif
    font-size: 14px
    color: #893b67
    transition: color .25s ease
    &:hover
      color: darken(#893b67, 20%)

.compare
  text-align: center
  width: 100px

.compare_position
  margin: 10px 0 0 39px

.compare__icon
  display: inline-block
  position: relative
  font-size: 18px
  color: #848b90

.compare__count
  position: absolute
  top: -6px
  right: -6px
  font-family: vida31Pro, serif
  color: #ffffff
  font-size: 11px
  text-align: center
  background-color: #893b67
  padding: 0 5px
  border-radius: 50%

.compare__linc
  text-decoration: none
  font-family: vida31Pro, serif
  font-size: 14px
  color: #893b67
  transition: color .25s ease
  margin-left: 5px
  &:hover, &:focus
    text-decoration: none
    color: darken(#893b67, 20%)

.personal-area
  border: 1px solid #ddddde
  border-radius: 14px
  text-align: center
  padding: 0 15px

.personal-area_position
  margin: 10px 0 0 -9px

.personal-area__link
  text-decoration: none
  font-family: 'vida31Pro'  serif
  font-size: 14px
  color: #893b67
  transition: color .25s ease
  &:hover, &:focus
    text-decoration: none
    color: darken(#893b67, 20%)

.fa-caret-down
  color: #808080
  margin-left: 14px

.phone
  position: relative

.phone_position
  margin: 10px -12px

.phone__link
  text-decoration: none
  font-family: vida33Pro, serif
  font-size: 18px
  color: #565f66
  &:hover, &:focus
    text-decoration: none
    color: darken(#893b67, 20%)

.fhone__icon
  width: 60px
  height: 60px
  background-image: url(/img/phone_bg.png)
  background-repeat: no-repeat
  position: absolute
  right: -68px
  top: -18px

//====Header title====//
.header__title
  width: 100%
  container
    position: relative

.header__title-img
  img
    width: 100%

.header__title-content
  position: absolute
  bottom: 0
  div
    font-family: vida33Pro, serif
    background-color: #fff
    margin: 0
    padding: 0px 20px

.header__title-object
  font-size: 48px
  line-height: 70px
  color: #414141
  display: block

.header__title-adress
  font-size: 18px
  color: #777b80
  display: inline-block
  padding-top: 5px